<%- include("header") -%>

<div class="box">
  <h1>Was steht heute an <span class="usr"><%= username %></span>?</h1>
  <% for(var i=0; i<items.length; i++) { %>
    <form action="/delete" method="post">
      <div class="item">
        <p><%= items[i].name %></p>
        <button type="checkbox" name="checkbox" value="<%= items[i]._id %>" onClick="this.form.submit()" id="checkbox"></button>
        <label for="checkbox"></label>
      </div>
    </form>
  <% } %>

  <div class="addTask">
    <form class="addNew" action="/add" method="post">
      <input autofocus type="text" id="taskInput" name="addbtn" placeholder="add new task">
      <button id="b" class="add_btn" type="submit"><span id="s2">+</span></button>
  </form>
  </div>

  <form action="/logout" method="post">
    <button class="logout_btn" type="button" onClick="this.form.submit()">logout</button>
  </form>
</div>