<%- include("header") -%>
<div class="box">
  <h1>ToDo Liste von: <%= username %></h1>
  <% for(var i=0; i<items.length; i++) { %>
    <form action="/delete" method="post">
      <div class="item">
        <p><%= items[i].name %></p>
        <button type="checkbox" name="checkbox" value="<%= items[i]._id %>" onClick="this.form.submit()" id="checkbox"></button>
        <label for="checkbox"></label>
      </div>
    </form>
  <% } %>
  <div class="addTask">
    <form class="addNew" action="/add" method="post">
      <input autofocus type="text" id="taskInput" name="addbtn" placeholder="new">
      <button id="b" class="add_btn" type="submit"><span id="s2">+</span></button>
    </form>
  </div>
  <form action="/login" method="post">
    <button type="button" onClick="this.form.submit()">logout</button>
  </form>
</div>
